In [1]:
import pandas as pd;

In [3]:
df = pd.read_csv('./sentiment_classified.csv')

In [5]:
df.shape

(71769, 10)

In [13]:
df.sample(5)

,Review,Date,Stars,Cleaned Reviews,neg,neu,pos,compound,vader_label,star_sentiments
38044,Unable to receive zelle code or sms codes from...,2025-04-17,5,unable receive zelle code sm code app via web ...,0.000,1.000,0.000,0.0000,neutral,2
27458,"Forcing me to update the app, yet it won't let...",2024-09-28,3,force update app yet let update say app compat...,0.000,1.000,0.000,0.0000,neutral,1
19018,I am so sick of being told you are diligently ...,2025-05-10,5,sick tell diligently work fix app FIX well,0.129,0.719,0.152,0.1591,positive,2
69944,Bill Pay Payee history in payment section is i...,2024-06-08,3,Bill Pay Payee history payment section inconsi...,0.108,0.782,0.110,0.2960,positive,1
17894,Ever since that big update about 6 or 7 months...,2025-05-09,4,ever since big update month ago absolute trash,0.000,1.000,0.000,0.0000,neutral,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71769 entries, 0 to 71768
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Review           71769 non-null  object
 1   Date             71769 non-null  object
 2   Stars            71769 non-null  int64
 3   Cleaned Reviews  71231 non-null  object
 4   neg              71769 non-null  float64
 5   neu              71769 non-null  float64
 6   pos              71769 non-null  float64
 7   compound         71769 non-null  float64
 8   vader_label      71769 non-null  object
 9   star_sentiments  71769 non-null  int64
dtypes: float64(4), int64(2), object(4)
memory usage: 5.5+ MB

In [16]:
df.isnull().sum()

Review               0
Date                 0
Stars                0
Cleaned Reviews    538
neg                  0
neu                  0
pos                  0
compound             0
vader_label          0
star_sentiments      0
dtype: int64

In [19]:
df.describe()

,Stars,neg,neu,pos,compound,star_sentiments
count,71769.000000,71769.000000,71769.000000,71769.000000,71769.000000,71769.000000
mean,3.628071,0.106830,0.749521,0.142660,0.001547,1.116889
std,1.283318,0.164622,0.247923,0.233313,0.471563,0.732375
min,1.000000,0.000000,0.000000,0.000000,-0.985500,0.000000
25%,3.000000,0.000000,0.661000,0.000000,-0.383700,1.000000
50%,4.000000,0.046000,0.808000,0.043000,0.000000,1.000000
75%,5.000000,0.155000,0.928000,0.169000,0.419900,2.000000
max,5.000000,1.000000,1.000000,1.000000,0.994700,2.000000

In [20]:
df.duplicated().sum()

642

In [21]:
df.drop_duplicates()

,Review,Date,Stars,Cleaned Reviews,neg,neu,pos,compound,vader_label,star_sentiments
0,24 May 2025 It’s stopped working! Every time I...,2025-05-24,1,May stop work every time click wait wait nothi...,0.068,0.932,0.000,-0.2942,negative,0
1,closed my account a day after I created it and...,2025-05-24,1,close account day create refuse elaborate,0.167,0.682,0.152,-0.0516,negative,0
2,Constantly freezes up my phone. it doesn't wor...,2025-05-23,1,constantly freeze phone work well samsung fold,0.209,0.791,0.000,-0.2297,negative,0
3,horrible experience. spended 30 mins just to l...,2025-05-23,1,horrible experience spend min login correct datum,0.241,0.759,0.000,-0.5423,negative,0
4,"app never lets me in the first time, always ha...",2025-05-23,1,app never let first time always log get dump c...,0.085,0.724,0.191,0.7304,positive,0
...,...,...,...,...,...,...,...,...,...,...
71764,very good,2024-12-18,5,good,0.000,0.238,0.762,0.4927,positive,2
71765,Great Services,2024-12-18,5,Great Services,0.000,0.196,0.804,0.6249,positive,2
71766,no problems...online banking makes life easier!,2024-12-18,5,problem online banking make life easy,0.237,0.430,0.333,0.2244,positive,2
71767,luv <3,2024-12-16,5,luv,0.000,0.256,0.744,0.4404,positive,2
71768,Not sure,2024-12-16,5,sure,0.662,0.338,0.000,-0.2411,negative,2

In [23]:
df.corr()['Stars']

ValueError: could not convert string to float: "24 May 2025 It’s stopped working! Every time I click on it, I wait, and wait, and nothing happens. I opened Google Playstore and downloaded the latest update and PNC app still doesn't work."